a{
    color: #767522;
}
h1 { 
    color:#007A90;
    font-family: sans-serif;
    border-bottom: 1px solid blue;
}
blockquote { 
    background-color: lightgray;
    padding: 1rem;
                }
body {
    background-color:#767522;
}
h2 {
     color:#007A90;
}
p{
     margin-left: 100px;
}
.side{
    float:right;
    margin: 0 12px;
    }
main{
    font-family: Arial, sans-serif;
}
header{
    background-color: #FEFEFE;
}

.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}
    main , header, footer {
    border: 1px solid black;
    margin: 0.8vh 0.8vw;
    padding: 2rem;
    background-color: #DAD7C6;
}
