body{
    background-color: #73956F;
}
h1{
    color: #37363A;
}
h2 { 
    color:#361E13;
    }
h3 {
    color: #4B251D;
}
p{
    color:#EAE1DF
}
a{
    color: #EAE1DF;
}
.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
