body {
    background-color: #0b0c0e;
}

@media (min-width: 1152px ){
    .about {
        max-width: 1080px;
        padding: 20px;
        margin: 0 auto;
        margin-top:-40px;
    }

    #aboutMe {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        color: #313543;
        background-color: #dbb24f;
        font-size: 75px;
        max-width: 345px;
    }

    #aboutMeText {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        font-size: 45px;
        padding-left: 3%;
        margin-top: -45px;
        align-self: flex-start;
        color: #a7b6c3;
    }

    #profilePic {
        display: flex;
        align-self: center;
        justify-content: center;
        margin-left: 270px;
        z-index: -1;
    }

    #contact {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        color: #313543;
        background-color: #dbb24f;
        font-size: 75px;
        max-width: 305px;
    }

    #contactText {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        font-size: 45px;
        padding-left: 3%;
        margin-top: -45px;
        align-self: flex-start;
        color: #a7b6c3;
    }

    #games {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        color: #313543;
        background-color: #dbb24f;
        font-size: 75px;
        max-width: 275px;
    }

    #gamesText {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        font-size: 45px;
        padding-left: 3%;
        margin-top: -45px;
        align-self: flex-start;
        color: #a7b6c3;
    }

    .container1 {
        max-width: 1080px;
        padding: 20px;
        margin: 0 auto;
        margin-top: 500px;
    }

    .header1, .main1, .footer1 {
        width: 100%;
    }

    .header1 {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        color: #313543;
        margin-top: -4rem;
        width: 100%;
    }
    
    #top-title1 {
        background-color: #dbb24f;
        font-size: 75px;
        max-width: 540px;
    }
    
    #stadium-image1 {
        display: flex;
        align-self: center;
        justify-content: center;
        margin-top: -20px;
        position: absolute;
        z-index: -1;
    }

    .main1 {
        margin-top: 63.5%;
    }

    .description1 {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        font-size: 25px;
        padding-left: 3%;
        margin-top: 46.25%;
        align-self: flex-start;

    }
    
    #top-description1 {
        color: #5e6671;
    }
    
    .columns1 {
        display: flex;
        width: 100%;
        text-align: left;
        padding: 10px;
        margin-top: -50px;
        justify-content: space-evenly;
    }

    .text1 {
        font-family: "Georgia Regular";
        display: flex;
        width: 100%;
        flex: 1;
        padding: 10px;
    }
    

    #text-col1-1 , #text-col2-1, #text-col3-1 {
        flex: 25%;
        color: #a7b6c3;
    }
    
    .side-info1 {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        color: #313543;
        flex: .25;
        padding: 10px;
        margin-top: -5px;
    }
    
    .h3-1, #top-text1 {
        background-color: #dbb24f;
    } 

    #top-text1 {
        margin-top: -19px;
    }
    
    #bottom-text1 {
        background-color: #dbb24f;
        color: #313543;
        margin-top: -10px;
    }
    
    .footer1 {
        margin-bottom: 1rem;
    }

    #track-image1{
        margin-top:-30px;
        width:100%;
        height: auto;
        position: absolute;
        z-index: -1;
    }

    .container2 {
        max-width: 1080px;
        padding: 20px;
        margin: 0 auto;
        margin-top: 45em;
    }

    .header2, .main2, .footer2 {
        width: 100%;
    }

    .header2 {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        color: #313543;
        margin-top: -4rem;
        width: 100%;
    }
    
    #top-title2 {
        background-color: #dbb24f;
        font-size: 75px;
        max-width: 560px;
    }
    
    #stadium-image2 {
        display: flex;
        align-self: center;
        justify-content: center;
        margin-top: -20px;
        position: absolute;
        z-index: -1;
    }

    .main2 {
        margin-top: 63.5%;
    }

    .description2 {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        font-size: 25px;
        padding-left: 3%;
        margin-top: 46.25%;
        align-self: flex-start;

    }
    
    #top-description2 {
        color: #5e6671;
    }
    
    .columns2 {
        display: flex;
        width: 100%;
        text-align: left;
        padding: 10px;
        margin-top: -50px;
        justify-content: space-evenly;
    }

    .text2 {
        font-family: "Georgia Regular";
        display: flex;
        width: 100%;
        flex: 1;
        padding: 10px;
    }
    

    #text-col1-2 , #text-col2-2, #text-col3-2 {
        flex: 25%;
        color: #a7b6c3;
    }
    
    .side-info2 {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        color: #313543;
        flex: .25;
        padding: 10px;
        margin-top: -5px;
    }
    
    .h3-2, #top-text2 {
        background-color: #dbb24f;
    } 

    #top-text2 {
        margin-top: -19px;
    }
    
    #bottom-text2 {
        background-color: #dbb24f;
        color: #313543;
        margin-top: -10px;
    }
    
    .footer2 {
        margin-bottom: 1rem;
    }

    #track-image2{
        margin-top:-30px;
        width:100%;
        height: auto;
        position: absolute;
        z-index: -1;
    }
    
}

@media (max-width: 1151px ){
    .about {
        max-width: 1080px;
        padding: 20px;
        margin: 0 auto;
        margin-top:-40px;
    }

    #aboutMe {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        color: #313543;
        background-color: #dbb24f;
        font-size: 75px;
        max-width: 345px;
    }

    #aboutMeText {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        font-size: 45px;
        padding-left: 3%;
        margin-top: -45px;
        align-self: flex-start;
        color: #a7b6c3;
    }

    #profilePic {
        display: flex;
        align-self: center;
        justify-content: center;
        z-index: -1;
    }

    #contact {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        color: #313543;
        background-color: #dbb24f;
        font-size: 75px;
        max-width: 305px;
    }

    #contactText {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        font-size: 45px;
        padding-left: 3%;
        margin-top: -45px;
        align-self: flex-start;
        color: #a7b6c3;
    }

    #games {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        color: #313543;
        background-color: #dbb24f;
        font-size: 75px;
        max-width: 275px;
    }

    #gamesText {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        font-size: 45px;
        padding-left: 3%;
        margin-top: -45px;
        align-self: flex-start;
        color: #a7b6c3;
    }

    .container1 {
        max-width: 700px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
    }

    .header1, .main1, .footer1 {
        width: 100%;
        max-width: 600px;
    }

    .header1 {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        color: #313543;
        margin-top: -4rem;
        max-width: 700px;
        margin-left: -8px;
    }
    
    #top-title1 {
        background-color: #dbb24f;
        font-size: 75px;
        max-width: 545px;
    }

    #stadium-image1 {
        display: flex;
        align-self: center;
        justify-content: center;
        margin-top: -137px;
        margin-left: 10px;
        position: relative;
        width: 100%;
        height: auto;
        z-index: -1;
    }


    .description1 {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        font-size: 25px;
        padding-left: 3%;
        margin-top: -95px;
        max-width: 600px;
        align-self: flex-start;

    }
    
    #top-description1 {
        color: #5e6671;
    }
    
    .columns1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 600px;
        text-align: left;
        padding: 10px;
        margin-top: -50px;
        justify-content: space-evenly;
    }

    .text1 {
        font-family: "Georgia Regular";
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        width: 100%;
        flex: 1;
    }
    

    #text-col1-1 , #text-col2-1, #text-col3-1 {
        flex: 25%;
        color: #a7b6c3;
    }
    
    .side-info1 {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        color: #313543;
        flex: .25;
        padding: 10px;
        margin-top: -5px;
    }
    
    .h3-1, #top-text1 {
        background-color: #dbb24f;
    } 

    #top-text1 {
        margin-top: -19px;
    }
    
    #bottom-text1 {
        background-color: #dbb24f;
        color: #313543;
        margin-top: -10px;
    }
    
    .footer1 {
        margin-bottom: 1rem;
    }

    #track-image1{
        display: flex;
        align-self: center;
        justify-content: center;
        margin-top:-30px;
        margin-left: 50px;
        width:100%;
        height: auto;
        position: relative;
        z-index: -1;
    }

    .container2 {
        max-width: 700px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        margin-top: 5em;
    }

    .header2, .main2, .footer2 {
        width: 100%;
        max-width: 600px;
    }

    .header2 {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        color: #313543;
        margin-top: -4rem;
        max-width: 700px;
        margin-left: -8px;
    }
    
    #top-title2 {
        background-color: #dbb24f;
        font-size: 75px;
        max-width: 560px;
    }

    #stadium-image2 {
        display: flex;
        align-self: center;
        justify-content: center;
        margin-top: -137px;
        margin-left: 10px;
        position: relative;
        width: 100%;
        height: auto;
        z-index: -1;
    }


    .description2 {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        font-size: 25px;
        padding-left: 3%;
        margin-top: -90px;
        max-width: 400px;
        align-self: flex-start;

    }
    
    #top-description2 {
        color: #5e6671;
    }
    
    .columns2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 600px;
        text-align: left;
        padding: 10px;
        margin-top: -50px;
        justify-content: space-evenly;
    }

    .text2 {
        font-family: "Georgia Regular";
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        width: 100%;
        flex: 1;
    }
    

    #text-col1-2 , #text-col2-2, #text-col3-2 {
        flex: 25%;
        color: #a7b6c3;
    }
    
    .side-info2 {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans‑serif;
        color: #313543;
        flex: .25;
        padding: 10px;
        margin-top: -5px;
    }
    
    .h3-2, #top-text2 {
        background-color: #dbb24f;
    } 

    #top-text2 {
        margin-top: -19px;
    }
    
    #bottom-text2 {
        background-color: #dbb24f;
        color: #313543;
        margin-top: -10px;
    }
    
    .footer2 {
        margin-bottom: 1rem;
    }

    #track-image2 {
        display: flex;
        align-self: center;
        justify-content: center;
        margin-top:-30px;
        margin-left: 50px;
        width:100%;
        height: auto;
        position: relative;
        z-index: -1;
    }
}

a:link {
    color: #a7b6c3;
}

a:visited {
    color: #5E6671;
}

a:focus {
    color: #ADB8C6;
}

a:hover {
    color: #25242F;
}

a:active {
    color: #313543;
}

html {
    scroll-behavior: smooth;
}



